<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Administración</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <img src="/images/logoNuevo-Photoroom.png" alt="logo-Photoroom" />
        <nav>
          <ul>
            <li>
              <a href="#" id="inicioBtn">
                <i class="fas fa-home"></i>
                <span class="menu-text">Inicio</span>
              </a>
            </li>
            <li>
              <a href="#" id="contactoBtn">
                <i class="fas fa-envelope"></i>
                <span class="menu-text">Contacto</span>
              </a>
            </li>
            <li>
              <a href="#" id="logoutBtn">
                <i class="fas fa-sign-out-alt"></i>
                <span class="menu-text">Logout</span>
              </a>
            </li>

            <li>
              <a href="#" id="loginBtn">
                <i class="fas fa-sign-in-alt"></i>
                <span class="menu-text">Login</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section>
        <h2>Opciones de Administración</h2>
        <p>Aquí puedes gestionar los usuarios, artículos y configuraciones.</p>
      </section>
    </main>

    <script src="/javaScript/session.js"></script>
    <script src="/javaScript/navigation.js"></script>
  </body>
</html>
