/* Define color variables */
:root {
    --primary-color: #6d597a;
    --secondary-color: #b56576;
    --accent-color: #eaac8b;
    --background-color: #fff;
    --text-color: #000;
}

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: var(--primary-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

main{
    display: flex;
    flex-direction: row;
}

aside {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 160px);
    padding: 10px;
    flex-basis: 350px;
}

aside a {
    text-decoration: none;
    color: var(--text-color);
    padding: 3px;
}

section {
    margin: 0 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.card {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 600px;
    height: 70px;
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}